.nav
  padding: 31px 0
  background-color: $bg-color
  &__list
    display: flex
    justify-content: space-between
  &__item
  &__link
    font-weight: 700
    font-size: 14px
    text-transform: uppercase
    color: $white-color
    transition: color .25s ease
    &:hover
      color: $accent-color
      transition: color .25s ease
